.container {
  position: fixed;
  width: 50%;
  height: 100%;
  right: 0;
  background: white;
  display: flex;
  justify-content: space-between;
  z-index: 99;
}

.navLinks {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navLink {
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.3rem;
  margin: 0 9px;
}

.navLink:link,
.navLink:visited {
  color: inherit;
}

.navLink:hover {
  color: #01b9f7;
}

.icon {
  width: 2rem;
  height: 2rem;
  padding: 1rem;
}
