.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 70%;
  padding: 59px 0 0 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: 11;
  color: black;
  background: rgba(255, 255, 255, 0.938);
  border-radius: 0 0 16px 16px;
  transition: all 0.2s;
  transform-origin: top;
}

.open {
  transform: scaleY(1);
}

.close {
  transform: scaleY(0);
}

.navLinks {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.navLink {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.6rem;
  padding: 0.5rem;
  margin: 0 9px;
}

.navLink:link,
.navLink:visited {
  color: inherit;
}

.navLink:hover {
  color: #01b9f7;
}

.icon {
  position: fixed;
  top: 0;
  right: 0;
  width: 1.5rem;
  height: 1.5rem;
  z-index: 999;
  margin: 28px;
  cursor: pointer;
}
