.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bimg {
  background-image: url("../../images/bimg/bimg.jpg");
  background-size: cover;
  height: 40rem;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -999;
}

/* Intro Card */

.introCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.95);
  /* align-self: flex-start; */
  border-radius: 12px;
  padding: 1rem;
  height: 24rem;
  width: 26rem;
}

.contentHeadingOne {
  color: #fda611;
  font-size: 1.8rem;
}

.contentHeadingTwo {
  color: #000000;
  font-size: 2rem;
  line-height: 67px;
}

.contentAbout {
  font-size: medium;
  line-height: 23px;
}

.snapshots {
  position: relative;
  /* display: none; */
}

.image {
  width: auto;
  height: 13rem;
  /* position: absolute;
  top: 0; */
}

.imagefirst {
}
.imagesecond {
}
.imagethird {
}
.navbarContainer {
  width: 100%;
  display: flex;
}

.introBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 40rem;
  text-align: center;
}

.footerContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 700px) {
  .heading {
    font-size: 2.8rem;
  }
}
