.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bimg {
  background-image: url("../../images/bimg/bimg.jpg");
  background-size: cover;
  height: 40rem;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -999;
}

.waves {
  display: flex;
  align-items: flex-end;
  background: white;
}
.wave {
  width: 100%;
}

/* .waves {
  height: 25%;
  width: 100%;
  position: relative;
}
.wave {
  width: 130rem;
  height: 198px;
  position: absolute;
  top: -198px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
    swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
} */

.navbarContainer {
  width: 100%;
  display: flex;
}

.introBox {
  display: flex;
  padding: 2rem;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  height: 40rem;
  width: 100%;
}
/* Intro Card */

.introCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.95);
  /* align-self: flex-start; */
  border-radius: 12px;
  padding: 1rem;
  height: 24rem;
  width: 26rem;
}

.contentHeadingOne {
  color: #fda611;
  font-size: 1.8rem;
}

.contentHeadingTwo {
  color: #000000;
  font-size: 2rem;
  line-height: 67px;
}

.contentAbout {
  font-size: medium;
  line-height: 23px;
}

.snapshots {
  /* position: relative; */
  display: flex;
  align-items: center;
  /* height: 16rem; */
  width: 25rem;
  height: auto;
}

.image {
  width: auto;
  height: 14rem;
  position: absolute;
  /* top: 0; */
}

.footerContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 700px) {
  .heading {
    font-size: 2.8rem;
  }

  .snapshots {
    display: none;
  }
}
