.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  background-image: url("../../images/bimg.svg");
  background-size: contain;
  z-index: 0;
  width: 100%;
}
.bimg {
  filter: opacity(0.2);
  z-index: 1;
  display: block;
}

.heading {
  font-size: 4rem;
  color: black;
  text-align: center;
}

.aboutContainer {
  padding: 5rem 0 0;
}

.about {
  display: flex;
  flex-direction: row;
}

#about1 {
  position: relative;
}
.aboutContent {
  padding: 1.5rem;
  font-size: 2rem;
  flex-grow: 2;
}

.firstLetter {
  color: rgb(207, 38, 38);
  font-size: 4rem;
  font-weight: bolder;
}

.image {
  max-width: 30rem;
  max-height: 26rem;
  height: auto;
  width: 100%;
  border-radius: 1.2rem;
}

@media only screen and (max-width: 700px) {
  .container {
    /* background: none; */
    background-size: contain;
  }

  .about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .image {
    max-width: 19rem;
    max-height: 15rem;
    height: 12rem;
  }

  .aboutContent {
    font-size: 1rem;
  }
}
