.teamCard {
  display: flex;
  flex-direction: column;
  margin: 3rem;
  padding: 1rem;
  max-width: 25rem;
  min-height: 20rem;
  height: 23rem;
  width: 20rem;
  align-items: center;
  border-radius: 17px;
  background: rgba(255, 255, 255, 0.767);
  box-shadow: 0 0 5px 0px #0000006b;
}

.image {
  max-width: 17rem;
  max-height: 15rem;
  height: 12rem;
  width: auto;
  clip-path: circle(90px at center);
}

.cardHeading {
  font-size: 2rem;
  color: #ec2a67;
  padding: 8px;
}

.cardTextBox {
  display: flex;
  flex-direction: column;
  padding: 8px 0 0;
}

.cardText {
  font-size: 1rem;
  padding: 8px 8px 0px;
}

.icon {
  width: 1.2rem;
  height: auto;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 7px;
  border: 0.5px solid rgba(128, 128, 128, 0.829);
  border-radius: 50%;
}

.socialMediaLinks {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  width: 70%;
}
