.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background: transparent;
  height: 4rem;
  z-index: 10;
  color: white;
  justify-content: space-between;
}
.active {
  background: white;
  color: black;
  box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.199);
  border-bottom: 1px solid #00000017;
}
.navLinks {
  display: flex;
}

.navLink {
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.3rem;
  margin: 0 9px;
}

.navLink:link,
.navLink:visited {
  color: inherit;
}

.navLink:hover {
  color: #01b9f7;
}

.autofix {
  padding: 9px 24px;
}

@media only screen and (max-width: 700px) {
  .navLinks {
    display: none;
  }
}
