.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3rem;
  background: white;
}
.image {
  width: 6rem;
  height: auto;
}

.heading {
  color: #007ff7;
  font-size: 3.5rem;
  font-weight: bolder;
  padding: 2rem;
}

.socialmedia {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 2rem;
  border: none;
  border-radius: 2rem;
  transition: all 0.3s;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.651);
}

.socialmedia:hover {
  transform: scale(1.1);
}
