.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 8rem;
  justify-content: center;
  align-items: center;
  background-color: #00a7eb;
  color: white;
}

.link {
  color: white;
  text-decoration: none;
  /* text-decoration: underline; */
}

